.login-btn{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
}
.create-btn{
    background-color: green;
    border-radius: 20px;
    color: white;
    border: none;
}